.prompt{
  input{
    border: 1px solid #a4a4a4;
    background-color: inherit;
    border-radius: 5px;
    color: #a4a4a4;
    padding: .3%;
    margin: .5%;
    width: 60%;
    text-align: center;
    box-sizing: border-box;
  }

  .besidePrompt{
    width: 5%;
  }

  input, button{
    max-height: 6%;
    font-size: medium;
  }
}
input::placeholder{
  text-align: center;
}

.prompt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  font-size: 5em;
  color: #a4a4a4;
  padding: 5%;
  height: 10%;
}