@switch(metricName){
  @case('recommendation_trends'){
      <google-chart [data]="data" [type]="chartType" [width]="150" [dynamicResize]="true" [options]="options" [columns]="columns" style="max-width:200px; height:100%;" ></google-chart>
  }
  <!-- @case('recommendation_trends'){
    @let data = logThis();
    <div>
    </div>
  } -->
  @case('company_news'){
    <div>
      @let news = stock.metrics[metricName];
      @let headlines = values(news['headline']);
      @let urls = values(news['url']);
      <a *ngFor="let headline of headlines; let i = index" href="{{urls[i]}}">{{headline}}<br></a>
    </div>
  }
  @default {
    <p>{{stock.metrics[metricName]}}</p>
  }
}