.stock{
  display: block;
  color: #a4a4a4;
  *{
    display: inline-block;
    margin: 1%;
    align-items: start;
    height: 100%;
  }
  text-align: center;
  min-height: 2em;
}

.ticker{
  width: 5%;
}

.rationale{
  width: 60%;
}