@font-face {
  font-family: 'Quicksand';
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:300..700');
}

body{
  //background-color: rgb(36, 36, 36);
  background-color: inherit;
  font-family: 'Quicksand';
  margin: 0 !important;
}

body *{
  font-family: inherit;
}

button{
  background-color: #a4a4a4;
  color: rgb(36, 36, 36);
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  padding: .3%;
  margin: .5%;
  transition: 500ms;
}
button:hover{
  background-color: #000000;
  color: #a4a4a4;
  transition: 500ms;
  cursor: pointer;
}

a{
  color:white;
  text-decoration: none ;
}
a:active, a:hover{
  color: #a4a4a4;
}